@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel+Decorative:wght@400;700;900&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@theme {
  --color-brand: #009157;
  --font-playwrite-au: Playwrite AU SA, 'sans-serif';
  --font-fredoka: Fredoka, 'sans-serif';
}
